numpy>=2.0
pandas>=2.0
matplotlib>=3.8
seaborn>=0.13
scipy>=1.13
scikit-learn>=1.7
torch>=2.11
torchvision>=0.26
tensorboard>=2.20
Pillow>=12.0
nbformat>=5.10
nbclient>=0.10

# Dependencias opcionales para iteraciones futuras de MLOps
# mlflow>=2.0
# dvc>=3.0

